# Ignore everything by default.
*

# Explicitly allow the files and folders that should be tracked.
!*.yaml
!*.ini
!requirements*.txt
!.gitignore
!*.md
!*.py
!custom_components/
!custom_components/sonoff
!.github/
!.github/**
!tests/
!tests/**

# Ignore these folders.
.storage
.cloud
.google.token

# Ensure these YAML files are ignored, otherwise your secret data/credentials will leak.
ip_bans.yaml
secrets.yaml
known_devices.yaml
